@model EntitiesLayer.Codigo_Documento

@{
    ViewBag.Title = "Delete";
}

<h2 class="display-3 my-3 text-center">Eliminar Secuencia</h2>
<div class="row justify-content-center">
    <div class="col-12 d-flex justify-content-center">
        <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
            <div class="card-header">Eliminar</div>
            <div class="card-body">
                <h5 class="card-title">
                    @Html.DisplayNameFor(model => model.FechaDoc):

                    @Convert.ToDateTime(Model.FechaDoc).ToString("dddd, dd MMMM yyyy")

                    <br />

                    @Html.DisplayNameFor(model => model.UserCorreo):

                    @Html.DisplayFor(model => model.UserCorreo)

                    <br />

                    @Html.DisplayNameFor(model => model.Secuencia):

                    @Html.DisplayFor(model => model.Secuencia)

                </h5>
                <p class="card-text">¿Está seguro de que desea eliminar? Una vez hecho no podra recuperar los datos.</p>
            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a href="/CodigoDocumento/Index" class="btn btn-primary">Volver</a>
        </div>
    }
</div>





